<h2 mat-dialog-title>{{data.product ? 'Edit' : 'Add'}} Product</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="image">
    </mat-form-field>
    <button type="submit" mat-button [ngClass]="{'updateBtn': data.product, 'addBtn': !data.product}">{{data.product ? 'Update' : 'Add'}}</button>
  </form>
</mat-dialog-content>

